* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: var(--cor-primaria);
}

h2 {
  color: var(--cor-secundaria);
}

p {
  color: var(--cor-primaria);
  margin: var(--espaco);
}

button {
  background-color: var(--cor-primaria);
  color: #ffffff;
}
