* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.container {
  width: 900px;
  margin: 0 auto;
  margin-top: 125px;
  text-align: center;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 25px;
}

h2 {
  font-size: 35px;
  margin-top: 15px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 25px;
}

.form {
  width: 100%;
}

.input {
  margin-top: 10px;
  width: 100%;
  padding: 25px 0px;
  border-radius: 10px;
  font-size: 25px;
}

.input-checkbox {
  margin-top: 20px;
  font-size: 25px;
}

button {
  display: block;
  width: 100%;
  margin-top: 35px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(58, 58, 233);
  font-size: 25px;
  color: #ffffff;
}

button:hover {
  background-color: rgb(83, 83, 207);
}
